<!-- home.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="takePicture()">Take Picture</ion-button>
  <ion-button (click)="getLocation()">Get Location</ion-button>
  <ion-button (click)="getDeviceInfo()">Get Device Info</ion-button>

  @if (capturedImage){
  <img [src]="capturedImage" alt="Captured image">
  }

  @if (location){
  <p>Latitude: {{location.coords.latitude}}</p>
  <p>Longitude: {{location.coords.longitude}}</p>
  }


  @if (deviceInfo){
    <p>Model: {{deviceInfo.model}}</p>
    <p>Platform: {{deviceInfo.platform}}</p>
    <p>OS Version: {{deviceInfo.osVersion}}</p>
  }
</ion-content>